<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>

  window.images = {
    backsplash: "<%= image_path("cropped-backsplash.jpg") %>",
    happyhour: "<%= image_path("happyhourdrinks.png") %>",
    profile_pic: "<%= image_path("default_url.jpg") %>"
  }
</script>

<main id="root"></main>
