.pp-upload-form {
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: auto;
  // justify-content: center;
  // align-items: center;
}

.pp-upload-form h2 {
  color: #07BAB4;
  font-size: 22px;
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.pp-upload-form form {
  margin: auto;
  // width: 600px;
}

.pp-upload-form button {
  background: #07BAB4;
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  margin-top: 30px;
}

.pp-upload-form section {
  border: 1px dashed #ccc;
  padding: 20px;
  width: 600px;
  height: auto;
}

.pp-upload-form input {
  margin: auto;
}
