.userHeader {
  background: #f5f5f5;
  border-bottom: 1px solid #e6e6e6;
  padding: 30px 0;
  background-image: url(https://s3-media4.fl.yelpcdn.com/assets/srv0/yelp_user_details/3a3ed7e5327e/assets/img/stars-static.png);
  background-position: bottom;
}

.userHeader .fa {
  margin-right: 5px;
}

.userStats {
  width: 900px;
  display: flex;
  align-items: center;
  margin: auto;
}

.userStats article {
  display: flex;
  align-items: center;
  width: 700px;
}

.userStats img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin-right: 30px;
}

.userStats h2 {
  font-size: 33px;
}

.improve-stats {
  border-left: 1px solid #ddd;
  padding: 10px 0 0 20px;
}

.improve-stats li {
  margin-bottom: 10px;
}

.current-stats {
  display: flex;
  margin-top: 10px;
}

.current-stats li {
  margin-right: 20px;
}

#user-reviews {
  width: 600px;
  margin: auto;
}

#user-reviews h3 {
  font-size: 22px;
  color: #07BAB4;

  margin-top: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.single-review {
  font-weight: normal;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.reviewed-restaurant {
  display: flex;
  font-size: 12px;
  align-items: center;
}

.reviewed-restaurant img {
  width: 60px;
  height: 60px;
}

.reviewed-restaurant a {
  font-weight: bold;
  color: #0073bb;
}

.user-review {
  margin: 15px;
  margin-bottom: 10px;
}

.user-rating {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.user-rating .rating {
  margin-right: 10px;
}

.user-rating .rating img {
  height: 25px;
  width: 25px;
}
