html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p,
span, article, footer, time, small {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: inherit;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: inherit;
}

form, input {
  box-sizing: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}
// fieldset, label, input, textarea,

ol, ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

body {
  margin: 0 auto;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  box-sizing: border-box;
}

h1 {
  padding: 10px;
  font-family: 'Pacifico', cursive;
}

strong {
  // font-family: 'Pacifico', cursive;
}

.hidden {
  display: none
}
