.restaurant-show {
  margin: auto;
}
.business-details {
  font-size: 16px;
  padding: 30px 0 20px 0;
  background: #f5f5f5;
  border-bottom: 1px solid #e6e6e6;
}

.business-details .p {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin: auto;
}

.business-details h2 {
  font-size: 34px
}

#rating-reviews {
  display: flex;
  align-items: center;
}

#rating-reviews span {
  margin-left: 5px;
  color: #555;
}

.address {
  border: 1px solid #aaa;
  padding: 5px;
}

.address h3 {
  font-weight: normal;
  margin-bottom: 5px;
}

.address #map-container {
  width: 280px;
  height: 130px;
  border: 1px solid #ccc;
  margin: 0;
  margin-bottom: 5px;
}

.business-info {
  display: flex;
  padding: 3px 0;
  margin: 0 10px;
}

.business-info .fa {
  font-size: 18px;
  margin-right: 5px;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}

.business-right {
  margin-top: 5px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.add-review {
  font-size: 15px;
  color: white;
  text-align: right;
  background: #07BAB4;
  border-radius: 3px;
  border: 1px solid #06a29d;
  padding: 10px 15px;
  text-align: center;
  align-items: center;
  width: 190px;
}

.add-review .fa {
  margin-right: 7px;
  font-size: 18px;
}

.add-review:hover {
  background: #13C9C2;
  border: 1px solid #07BAB4;
}

.photo-highlights {
  display: flex;
  align-items: center;
  margin: 25px 0;
}

.img-default {
  width: 196px;
  height: 196px;
  transition: all .5s cubic-bezier(0.4, 0, 1, 1);
}

.img-selected {
  margin: 0;
  z-index: 2;
  width: 216px;
  height: 216px;
  box-shadow: 0 0 30px #666;
}
