.restaurant-show {
  width: 900px;
  margin: auto;
  padding-top: 30px
  // justify-content: space-around;
}
.business-details {
  display: flex;
  justify-content: space-between;
}

.business-details h2 {
  font-size: 34px
}

.address {
  border: 1px solid #aaa;
  padding: 5px;
  font-size: 14px;
}

.address h3 {
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 5px;
}

.show-map {
  width: 280px;
  height: 130px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

.business-info {
  display: flex;
  padding: 3px 0;
  margin: 0 10px;
}

.business-info .fa {
  font-size: 16px;
  margin-right: 5px;
  text-align: center;
  width: 16px;
  height: 16px;
}

.business-details .rating {
  display: flex;
}

.business-right {
  margin-top: 20px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.add-review {
  font-size: 15px;
  color: white;
  text-align: right;
  background: #07BAB4;
  border-radius: 3px;
  padding: 10px 15px;
  text-align: center;
  align-items: center;
  width: 190px;
}

.add-review .fa {
  margin-right: 7px;
  font-size: 18px;
}

.photo-highlights {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.img-default {
  width: 196px;
  height: 196px;
  transition: all .5s cubic-bezier(0.4, 0, 1, 1);
}

.img-selected {
  margin: 0;
  z-index: 2;
  width: 216px;
  height: 216px;
  box-shadow: 0 5px 10px #999;
}
