.reviews {
  display: flex;
  margin: auto;
  width: 900px;
}

.reviews article {
  border-right: 1px solid #ccc;
  width: 550px;
  margin-top: 30px;
}

.reviews h2 {
  font-size: 22px;
  font-weight: normal;
}

.reviews strong {
  font-weight: bold;
  color: #07BAB4;
}
