.review-form {
  width: 900px;
  display: flex;
  margin: auto;
  margin-top: 20px;
}

.review-form h2 {
  color: #07BAB4;
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.review-form h3 {
  margin-bottom: 10px;
}

.review-form aside {
  width: 300px;
}

.form-input {
  width: 600px;
  border-right: 1px solid #ccc;
  padding-right: 15px;
}

.form-input article {
  display: flex;
  margin: 20px 0;
  font-weight: normal;
}

.form-input article img {
  width: 60px;
  height: 60px;
}

.form-input article a {
  color: #0073bb;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 5px;
  // margin-bottom: 5px;
}

.form-input form {
  width: 584px;
}

.form-input section {
  width: 584px;
  background: rgba(250,250,249,0.6);
  border: 1px solid #bbb;
  border-radius: 3px;
  box-shadow: inset 2px 2px 5px #e2e2e2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input figure {
  display: flex;
  width: 290px;
  align-items: center;
  font-weight: normal;
  margin: 10px;
}

.form-input textarea {
  background: transparent;
  border: none;
  border-top: 1px solid #ccc;
  resize: none;

  width: 520px;
  height: 150px;
  padding: 15px 0;

  font-size: 14px;
}

.form-input textarea:focus {
  outline: none;
}

.form-input button {
  color: #fff;
  background: #07BAB4;
  padding: 8px 15px;
  border-radius: 3px;
  margin: 10px 0;
}

#edit-review {
  color: #0073bb;
  font-size: 12px;
}

.stars {
  display: flex;
  cursor: pointer;
  margin-right: 10px;
}

.review-form aside {
  margin-left: 15px;
}

.review-form aside h2 {
  text-align: center;
}

.review-form .user img {
  width: 40px;
  height: 40px;
}


.review-form .user {
  margin: 0;
}

.review-form nav {
  width: 65px;
}

.review-form .review {
  border: none;
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
  margin: 0;
}

.review-form #review {
  margin: 0;
  width: 175px;
  font-size: 12px;
}

.review-form aside a {
  font-size: 13px;
  display: block;
  width: 65px;
}
