.restaurant-search {
  display: flex;
  justify-content: space-around;
  width: 900px;
  margin: auto;
}

.restaurant-search > div {
  margin-bottom: 40px;
}

.restaurant-search aside {
  width: 305px;
}

#map-container {
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
  margin-top: 40px;
}
