.restaurant-index {
  display: flex;
  flex-direction: column;
  font-weight: normal;
  margin-top: 40px;
}

.restaurant-preview:first-child {
  border-top: 1px solid #079E99;
}

.restaurant-preview {
  border-bottom: 1px solid #079E99;
  padding: 15px 0;
}

.restaurant-preview p {
  text-align: center;
  font-size: 14px;
}

.preview-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-right: 50px;
}

.preview-info link {
  font-weight: bold;
}

.preview-info img {
  width: 90px;
  height: 90px;
}

.preview-info strong {
  color: #0073bb;
  font-size: 16px;
}

.preview-info #preview-address {
  margin-left: 20px;
}
