.restaurant-show {
  width: 900px;
  margin: auto;
  padding-top: 30px
  // justify-content: space-around;
}
.business-details {
  display: flex;
}

.business-details h2 {
  font-size: 30px
}

.address {
  border: 1px solid #079E99;
  padding: 5px;
}

.address h3 {
  font-weight: normal;
  font-size: 14px;
}
