.header {
  background: #13C9C2;
  color: white;
}

.header-fixed {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
}

.session-link {
  background: #07BAB4;
  padding: 10px 25px;
  border-radius: 4px;
  font-size: 16px;
}

.header-fixed h1 {
  font-size: 22px;
  text-shadow: 0 0 1px #000;
}

.nav {
  background: #07BAB4;
  padding: 5px 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature-pages {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
