.header {
  background: #13C9C2;
  color: white;
}

.header-fixed {
  display: flex;
  width: 900px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.header-fixed h1 {
  margin-right: 60px;
  font-size: 30px;
  text-shadow:
    1.25px 1.25px 0 #000,
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
}

.header-fixed form {
  flex-direction: row;
  width: 500px;
  margin-right: 60px;
}

.header-fixed form input {
  width: 500px;
  padding: 10px;
  border-radius: 4px;
}

.header .fa {
  background: #07BAB4;
  padding: 11.5px 15px;
  border-radius: 4px;
}

.session-link {
  background: #07BAB4;
  border-radius: 4px;

  padding: 10px 25px;
  margin-left: 5px;

  font-size: 16px;
}

.header section {
  background: #07BAB4;
}

.nav {
  display: flex;
  align-items: center;
  width: 900px;
  justify-content: space-between;
  margin: auto;
}

.nav:last-child {
  padding-right: 15px;
}

// .nav nav {
//   margin-right: 300px;
// }

// .feature-pages {
//   display: flex;
//   justify-content: space-between;
//   width: 50%;
// }
//
// #user-dropdown-btn {
//   display: flex;
// }
//
// #user-dropdown-btn img {
//   width: 37px;
//   height: 37px;
// }
//
// .feature-pages .fa {
//   padding: 0;
//   margin-right: 7px;
// }
