.greeting {
  display: inline-block;
  display: flex;
  flex-direction: column;
}

.greeting img {
  display: block;
}

.header {
  display: flex;
  justify-content: space-between;
}

.session-link {
  display: flex;
  text-align: space-between;
  justify-content: center;
}

.session-link a {
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
}
