.reviews {
  border-right: 1px solid #ccc;
  width: 600px;
  margin-top: 20px;
}

.reviews h2 {
  font-size: 22px;
  font-weight: normal;
}

.reviews strong {
  font-weight: bold;
  color: #07BAB4;
}

.review {
  border-top: 1px solid #ccc;
}
