.session {
  display: flex;
  width: 80%;
  padding: 5%;

  margin: auto;
  justify-content: space-around;
  text-align: center;
  box-sizing: border-box;

  color: #07BAB4;
}

.session img {
  width: 300px;
}

.form {
  padding: 10%;
}

.form input {
  padding: 5px;
  margin: 8px;
  border-radius: 4px;
  width: 100%;
}

.form button {
  color: white;

  background: #07BAB4;
  border-radius: 4px;

  width: 100%;
  padding: 5px;
  margin: 8px;
}

.form a {
  color: black;
  font-weight: 100;
  font-size: 12px;
}
