.session {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 5% 10%;

  justify-content: space-around;
  text-align: center;
  box-sizing: border-box;

  color: #07BAB4;
  font-size: 26px;
}

.session img {
  width: 500px;
  height: auto;
}

.form {
  margin: 8% 15% 0 0;
}

.form form {
  margin-top: 15px;
}

.form input {
  padding: 5px;
  margin: 8px;
  border-radius: 4px;
  width: 100%;
}

.form button {
  color: white;
  font-size: 14px;

  background: #07BAB4;
  border-radius: 4px;

  width: 100%;
  padding: 5px;
  margin: 8px;
}

.form a {
  color: black;
  font-weight: 100;
  font-size: 12px;
}

.errors {
  font-size: 12px;
  font-style: italic;
}
