.splash {
  position: relative;
  color: white;
}
.splash img {
  opacity: 0.9;
  z-index: -1;
}

.splash main {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  top: 30%;
  left: 0;
  right: 0;
}

.splash h1 {
  display: inline-block;
  margin-bottom: 0.5%;
  font-size: 55px;

  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.splash form {
  flex-direction: row;
  justify-content: center;
  font-size: 18px;
  width: 50%;
}

.splash form input {
  padding: 10px;
  border-radius: 4px;
  margin-left: 1px;
  font-weight: bold;
}

.splash form input[type="search"] {
  width: 350px;
}

.splash form input[type="text"] {
  width: 200px;
}

.splash .fa {
  padding: 9.5px 16px;
  background: #07BAB4;
  border-radius: 4px;
}

.splash nav .fa {
  background: transparent;
  color: white;
  padding: 0 10px;
}

.splash main nav {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-top: 1.5%
}

.splash-session {
  position: absolute;
  top: 7%;
  right: 10%;
}

.splash-session a {
  margin-left: 30px;
}

.splash-session a:last-of-type {
  border: 1.5px solid #fff;
  padding: 8px 20px;
  border-radius: 4px;
}

.splash-session a:last-of-type:hover {
  background: #fff;
  color: #666;
}

.splash-session img {
  width: 50px;
  height: 50px;
}

.content {
  margin: auto;
  text-align: center;
}

.content h2 {
  text-align: center;
  color: #07BAB4;
  font-size: 20px;
  margin-bottom: 20px;
}

.highlights {
  width: 900px;
  margin: auto;
  padding: 50px;
}

.categories {
  background: #eee;
  padding: 40px;
}

.categories p {
  width: 900px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.categories a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 180px;
  height: 150px;
  background: #fff;
  padding: 20px;
}

.categories a:hover {
  border: 1px solid #0073bb;
  color: #0073bb;
  box-shadow: 4px 4px 10px #ccc;
}

.categories img {
  // width: 80px;
  height: 80px;
  width: auto;
  margin: auto;
}
