.splash {
  position: relative;
  color: white;
}
.splash img {
  width: 100%;
  height: auto;
  opacity: 0.9;
  z-index: -1;
}

.splash main {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  top: 30%;
  left: 0;
  right: 0;
}

.splash h1 {
  display: inline-block;
  margin-bottom: 0.5%;
  font-size: 55px;

  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.splash form {
  flex-direction: row;
  justify-content: center;
  font-size: 18px;
  width: 60%;
}

.splash form input {
  padding: 10px;
  border-radius: 4px;
  margin-left: 1px;
  font-weight: bold;
}

.splash form input[type="search"] {
  width: 450px;
}

.splash form input[type="text"] {
  width: 250px;
}

.splash .fa {
  padding: 9.5px 16px;
  background: #07BAB4;
  border-radius: 4px;
}

.splash nav .fa {
  background: transparent;
  color: white;
  padding: 0;
  padding-right: 10px;
}

.splash main nav ul {
  display: flex;
  margin-top: 15px;
}

.splash main nav li {
  margin-right: 35px;
  padding-bottom: 5px;
}

.splash main nav li:hover {
  border-bottom: 2px solid #fff;
}

.splash-session {
  position: absolute;
  top: 7%;
  right: 10%;
}

.splash-session a {
  margin-left: 30px;
  padding: 0 10px;
  padding-bottom: 8px;
}

.splash-session a:hover {
  border-bottom: 1.5px solid #fff;
}

.splash-session a:last-of-type {
  border: 1.5px solid #fff;
  padding: 8px 20px;
  border-radius: 4px;
}

.splash-session a:last-of-type:hover {
  background: #fff;
  color: #666;
}

.splash-session img {
  width: 50px;
  height: 50px;
}

.splash-session #user-dropdown-btn {
  position: relative;
}

.splash-session #user-dropdown-btn img {
  width: 50px;
  height: 50px;
}

.splash-session #user-dropdown-btn a {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
}

.content {
  margin: auto;
  text-align: center;
}

.content h2 {
  text-align: center;
  color: #07BAB4;
  font-size: 20px;
  margin-top: 50px;
}

.restaurant-snippets {
  width: 900px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 30px 0 50px 0;
}

.snippet {
  display: flex;
  flex-direction: column;
}

.snippet h3 {
  margin-top: 10px;
  font-size: 18px;
  color: #07BAB4;
}

.snippet .rating img {
  width: 30px;
  height: 30px;
}

.snippet img {
  border: 250px;
  height: 250px;
  border-radius: 3px;
}

.snippet .rating {
  justify-content: center;
  color: #f3b116;
  font-size: 13px;
}

.categories {
  background: #eee;
  padding-bottom: 50px;
}

.categories p {
  width: 900px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.categories a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 180px;
  height: 150px;
  background: #fff;
  padding: 20px;
}

.categories a:hover {
  border: 1px solid #0073bb;
  color: #0073bb;
  box-shadow: 4px 4px 10px #ccc;
}

.categories img {
  height: 80px;
  width: auto;
  margin: auto;
}

.categories h2 {
  padding: 50px 0 30px 0;
}
